<html>
<head>
  <meta charset="utf-8">
</head>
<title> Pesquisa de Domain </title>
<body>
  <form name="act" action="{{ url_for('_searching') }}" method="POST">
  Digite o dominio: <input type="text" placeholder="Example: google.com" name="domain">
  <br>
  <input type="submit" value="Submit"></input> <br>
  <p> {{urls}} </p>
</form>
</body>
</html>
